/* here you can put your own css to customize and override the theme */


/* Global styles */

* {
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

.aquagreen {
    background-color: #3bd7b4!important;
}

.newgrey {
    background-color: #f5f5f5!important;
}

.newblue {
    /*background-color: #4B77BE!important;*/
    background-color: #37474F!important;
}

.darkgrey {
    background-color: #4f4f4f!important;
}

.page-logo > a {
    font-family: 'Roboto', 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #2c2d2d;
    margin: 16px auto;
    display: inline-block;
}

.btn.default,
.btn.aquagreen,
.btn.white,
.btn.newblue,
.btn.red {
    margin-right: 20px;
    margin-bottom: 5px;
}

.btn.aquagreen:not(.btn-outline) {
    color: #FFF;
    background-color: #3bd7b4;
    border-color: #3bd7b4;
}

.btn.aquagreen:not(.btn-outline).active,
.btn.aquagreen:not(.btn-outline):active,
.btn.aquagreen:not(.btn-outline):hover,
.open>.btn.aquagreen:not(.btn-outline).dropdown-toggle {
    color: #FFF;
    background-color: #24c3a0;
    border-color: #24c3a0;
}

.btn.newblue:not(.btn-outline) {
    color: #FFF;
    background-color: #3d9ce6;
    border-color: #3d9ce6;
}

.btn.newblue:not(.btn-outline).active,
.btn.newblue:not(.btn-outline):active,
.btn.newblue:not(.btn-outline):hover,
.open>.btn.newblue:not(.btn-outline).dropdown-toggle {
    color: #FFF;
    background-color: #247ec3;
    border-color: #247ec3;
}

.breadcrumb a,
.breadcrumb p {
    color: #434343;
}

.page-footer {
    background: #3bd7b4;
    /*#4C87B9*/
    /**/
    /*#36d7b7*/
    color: #e6e6e6;
}

.page-footer a {
    font-weight: 700;
}

.footer-copyright {
    float: left;
}

.nobackground {
    background-color: transparent!important;
}

.signup {
    color: #333;
}

.signup:hover {
    color: #3bd7b4;
    text-decoration: none;
}

.create-new:hover {
    color: #4e5a64!important;
    text-decoration: underline;
}


/* Global styles END */


/* dashboard page */

.page-content-home {
    background-color: #fff!important;
}

.dash-trigger {
    background-color: #3bd7b4!important;
}

.dash-action {
    margin: auto;
    position: absolute;
    top: 30%;
    left: 110px;
}

.bs-reset {
    margin: 0;
    padding: 0;
}


/* dashboard page END*/


/* create profile/app steps */

.red { color: #e7505a; }

.generate-h3 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.generate {
    text-align: center;
}

.api-key {
    text-transform: uppercase;
    font-weight: 700;
}

.form-control-static-textarea {
    height: auto;
}

@media (min-width:768px) {
    .steps-card {
        margin-top: 46px;
    }
}

input.highlight:focus, input.highlight:active, textarea.highlight:focus, textarea.highlight:active {
    border: 0!important;
    border-bottom: 2px solid #3bd7b4!important;
    transition: 0.2s ease all;
}
/* create profile/app steps END*/


/* view apps */

.thumbnaill img,
.thumbnaill .caption {
    float: left;
    margin-right: 20px;
}

.thumbnaill {
    height: 120px;
    margin-bottom: 30px;
}

.card-left {
    max-width: 100px;
    float: left;
}

.card-right p {
    margin: 0 0 5px 0;
}

.app-desc {
    display: -webkit-box;
    max-width: 100%;
    height: 70px;
    margin: 0 0 7px auto;
    font-size: 14px;
    line-height: 1;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.app-det {
    display: -webkit-box;
    max-width: 100%;
    height: 30px;
    margin: 0 0 7px auto;
    font-size: 14px;
    line-height: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.appDetails {
    cursor: pointer;
}

.appDetails:hover {
    box-shadow: 0 2px 3px 2px rgba(0, 0, 0, .2);
}

.card-bottom table {
    margin-bottom: 0px;
}

.info-title {
    width: 90px;
}

.sim-thumb {
    text-align: center;
}

.all-apps-search {
    width: 100%;
    text-align: right;
}

.all-apps-search .form-control{
    width: 20%;
}

.all-apps-search .form-control, .all-apps-search .search-label {
    display: inline-block;
    margin-left: 20px;
}

.all-apps-search .btn.aquagreen {
    margin: 0 0 0 20px;
}
/* view apps END*/


/* map page */

.map-form {
    background-color: #f5f5f5!important;
}

.map-dropdown {
    position: absolute;
    left: 8%;
    top: 19%;
}

.map-title {
    background-color: #4B77BE;
}


.input-xxlarge {
    width: 810px!important;
}

/* map page END */


/* Media queries */


/* For map dropdown */

@media (min-width:961px) and (max-width:1280px) {
    .map-dropdown {
        position: absolute;
        left: 6%;
        top: 16%;
    }
}

@media (min-width:739px) and (max-width:960px) {
    .map-dropdown {
        position: absolute;
        left: 2%;
        top: 18%;
    }
}

@media (min-width:691px) and (max-width:738px) {
    .map-dropdown {
        position: absolute;
        left: 2%;
        top: 26%;
    }
}

@media (min-width:569px) and (max-width:690px) {
    .map-dropdown {
        position: absolute;
        left: 2%;
        top: 28%;
    }
}

@media (min-width:320px) and (max-width:568px) {
    .map-dropdown {
        position: absolute;
        left: 2%;
        top: 33%;
    }
}


/* For map dropdown END */


/* For Home dash-actions */

@media (min-width:768px) and (max-width:1024px) {
    .dash-action {
        left: 70px;
    }
}

@media (min-width:415px) and (max-width:767px) {
    .dash-action {
        top: 20%;
        left: 70px;
    }
}

@media (min-width:320px) and (max-width:414px) {
    .dash-action {
        top: 20%;
        left: 35px;
    }
}


/* For Home dash-actions END*/


/* Media Queries END */


/* Other pages: Login, About, Blog, Pricing, FAQ */

#after_send { display: none; }

.font-aquagreen {
    color: #3bd7b4!important;
}

.faq-section {
    box-shadow: 0 2px 3px 2px rgba(0, 0, 0, .07);
}

.about-header {
    height: 500px;
    background-image: url(../images/about-placeholder-2.jpg);
    background-position: center;
    margin-left: 0px!important;
    margin-right: 0px!important;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.about-header h1 {
    color: #333;
    font-size: 55px;
    font-weight: 600;
    margin-top: 130px;
    text-shadow: 0 0 1px rgba(255, 255, 255, .2);
}

.about-header h2 {
    color: #333;
    font-size: 22px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 40px;
    text-shadow: 0 0 1px rgba(255, 255, 255, .2);
}

#card_info, #card_delete {
    display: inline;
}

.pricing-panel {
    color: #e6e6e6;
}

.tabs-left.nav-tabs>li.active>a, .tabs-left.nav-tabs>li.active>a:hover>li.active>a:focus {
    color: #111;
    background-color: #e5e5e5;
}

.tabs-left.nav-tabs>li>a:focus, .tabs-left.nav-tabs>li>a:hover {
    background-color: #e5e5e5;
    border-color: #ddd transparent #ddd #ddd;
}

.documentation a {
        color: rgba(51,122,183,0.90)
}

.features-list .row {
    margin: 96px 0px;
    padding: 14px 0px;
    overflow: hidden;
}

.feature {
    margin-top: 17%;
    margin-left: 15%;
    width: 450px;
    text-align: justify;
}

.feature h1,
h2 {
    color: #333c4e;
}

.feature p,
.feature li {
    font-size: 16px;
    line-height: 1.6;
    color: #7e8890;
}

.feature-left,
.feature-right {
    width: 800px;
    position: relative;
    -webkit-box-shadow: -3px -3px 20px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -3px -3px 20px 0px rgba(0, 0, 0, 0.4);
    box-shadow: -3px -3px 20px 0px rgba(0, 0, 0, 0.4);
}

.feature-hide {
    display: none;
}

.feature-left {
    left: 30px;
}

.feature-right {
    right: 190px;
}


/*.doc_nav { position: fixed; }
.doc_content { margin-left: 19%; }*/

.apicode {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    font-family: Consolas,Lucida Console,Courier New;
    width: 100%;
    height: auto;
    background-color: #eee;
}

.loading {
    background-color: #333;
    opacity: 0.5;
    background-image: url('../images/loading.gif');
    height: 100%;
    width: 100%;
    z-index: 99999;
    position: fixed;
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: center;
}
