/* login page */

.user-login-5 .login-container>.login-content {
    margin-top: 15%;
}

.form-control {
    border-radius: 0;
}

.user-login-5 .login-container > .login-content > .login-form input {
    padding: 8px!important;
}


/* login page end */


/* Global styles */

.page-header,
.page-header .page-header-top {
    height: 97px;
}

.page-header .page-header-top .page-logo {
    height: 66px;
}

.page-head {
    float: left;
}

.page-head .page-title {
    padding: 0px;
}

.page-header .page-header-top .top-menu {
    margin: 0px;
}

.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-user>.dropdown-menu {
    width: 140px;
    min-width: 100px;
}

.page-header .page-header-top .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle {
    padding: 22px 0 7px;
}

@media (min-width:320px) and (max-width: 768px) {
    .page-header .page-header-top .page-logo {
        margin: 0px;
    }
    .page-header .page-header-top .top-menu {
        margin: 7px 0 0;
        display: block;
        clear: none!important;
    }
}

@media (max-width: 991px) {
    .page-head {
        background: #fff;
    }
}

.breadcrumb {
    padding: 0px;
    border-bottom: 2px solid #434343;
    border-radius: 0;
}

.breadcrumb p {
    margin-top: 0px!important;
    margin-bottom: 10px!important;
}

.page-content {
    background: #fafafa;
}

.form .form-actions,
.portlet-form .form-actions {
    border-top: none;
}

.form-group.form-md-line-input .form-control,
.form-group.form-md-line-input .form-control.form-control-static {
    border-bottom: 1px solid #727272;
    color: #262626;
}

.form-group.form-md-line-input .form-control~label {
    color: #262626;
}

.form-group.form-md-line-input {
    margin: 0 0 25px;
}

.form-group.form-md-line-input .form-control.edited:not([readonly])~.form-control-focus,
.form-group.form-md-line-input .form-control.edited:not([readonly])~label,
.form-group.form-md-line-input .form-control.focus:not([readonly])~.form-control-focus,
.form-group.form-md-line-input .form-control.focus:not([readonly])~label,
.form-group.form-md-line-input .form-control:focus:not([readonly])~.form-control-focus,
.form-group.form-md-line-input .form-control:focus:not([readonly])~label {
    color: #262626;
}

.page-footer .nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent;
    color: #434343;
}

.user-login-5 .login-b {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-image: url(../images/bg1.jpg);
    z-index: 9999999;
}

.portlet {
    /*box-shadow: 0 2px 3px 2px rgba(0, 0, 0, .07);*/
    box-shadow: 0 2px 3px 1px rgba(50, 50, 50, .20);
    /* box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.10),0 2px 4px rgba(0,0,0,.20); */
}

.portlet.light {
    background-color: #f4f3f1;
}

hr {
    border-top: 1px solid #ddd;
}

.scroll-to-top>i {
    color: #333;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .2), 0 3px 6px rgba(0, 0, 0, .26);
}

.scroll-to-top>i:hover {
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .4), 0 3px 6px rgba(0, 0, 0, .4);
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #4B77BE;
    border-color: #4B77BE;
}

.pagination>li>a, .pagination>li>span {
    color: #4B77BE;
}
/* Global styles END */


/* Sidebar */

.page-quick-sidebar-wrapper {
    top: 91px;
    left: 0px;
    /* change this to -320px and below 'left' value to 0 to keep auto closed*/
    overflow: visible;
    transition: left .3s;
    background-color: #f5f5f5;
}

.page-quick-sidebar-open .page-quick-sidebar-wrapper {
    transition: left .3s;
    left: -320px;
    box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.3);
}

.page-quick-sidebar-wrapper .page-quick-sidebar .add_sim_form {
    box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

.quick-sidebar-toggler {
    overflow: hidden;
    z-index: 99999;
    display: block;
    width: 28px;
    height: 35px;
    position: absolute;
    top: 20px;
    left: 320px;
    text-align: center;
    background-color: #f5f5f5;
    color: #333;
    padding: 10px 0;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.3);
}

.add-sim-sidebar {
    top: 134px!important;
    bottom: auto;
}

.add_sim_form {
    margin-top: 0px;
}


/*special tab sidebar*/

.add-sim-tab {
    position: relative;
}

.add-sim-sidebar-tab {
    top: 44px!important;
    bottom: auto;
}

.page-quick-sidebar-wrapper-tab {
    position: absolute;
}

.add_sim_form {
    max-height: 510px;
}


/* Sidebar END */


/* Trigger page */

.portlet:not(.light) .tabbable-line {
    padding-top: 0px;
}

.add-sim-page .form-group.form-md-line-input {
    margin: 0 0 15px;
}
/*
.add-sim-page .form-control {
    height: 28px;
}*/

/* Trigger page END */


/* Test Trigger page */

.input-group .form-control {
    float: right;
    width: 24%;
    margin-left: 20px;
}


/* Test Trigger page END */


/* steps */

.mt-element-step .step-line .mt-step-number {
    font-size: 20px;
    height: 40px;
    width: 40px;
}

.mt-element-step .step-line .mt-step-number {
    padding: 4px;
    margin: 5px auto auto;
}

.mt-element-step .step-line .active .mt-step-number,
.mt-element-step .step-line .done .mt-step-number {
    color: #ffffff!important;
    border-color: #2fcca9!important;
    background-color: #2fcca9!important;
}

.mt-element-step .step-line .active .mt-step-title:after,
.mt-element-step .step-line .active .mt-step-title:before,
.mt-element-step .step-line .done .mt-step-title:after,
.mt-element-step .step-line .done .mt-step-title:before {
    background-color: #2fcca9;
}

.mt-element-step .step-line .active .mt-step-content,
.mt-element-step .step-line .active .mt-step-title,
.mt-element-step .step-line .done .mt-step-content,
.mt-element-step .step-line .done .mt-step-title {
    color: #2c2d2d!important;
}

.mt-element-step .step-line .mt-step-number {
    color: #ffffff;
    border: 3px solid #9d9d9d;
    background-color: #9d9d9d;
}

.mt-element-step .step-line .mt-step-title:after,
.mt-element-step .step-line .mt-step-title:before {
    background-color: #9d9d9d;
}

.app-step-line > .col-sm-2 {
    width: 14%;
}

.api-well {
    margin-bottom: 0px;
}

.select2-container--bootstrap {
    display: block;
    z-index: 999;
}

.add-sim-page .select2-container--bootstrap {
    display: block;
    z-index: 9999;
}

.form-group.form-md-line-input .form-control~.form-control-focus:after, .form-group.form-md-line-input .form-control~label:after {
    bottom: 19px;
    top: 52px;
}

.form-group.form-md-line-input .form-control~.form-control-focus, .form-group.form-md-line-input .form-control~label { bottom: 18px; }

@media (max-width:768px) {
    .mt-element-step .step-line .mt-step-title {
        font-size: 14px;
        word-break: break-all;
    }
    .step-line .col-xs-2 {
        padding-left: 3px;
        padding-right: 3px;
    }
    .mt-element-step .step-line .mt-step-number {
        font-size: 13px;
        height: 30px;
        width: 30px;
        padding: 4px;
    }
}

.form-group.form-md-line-input .form-control.edited:not([readonly])~.form-control-focus:after, .form-group.form-md-line-input .form-control.edited:not([readonly])~label:after, .form-group.form-md-line-input .form-control.focus:not([readonly])~.form-control-focus:after, .form-group.form-md-line-input .form-control.focus:not([readonly])~label:after, .form-group.form-md-line-input .form-control:focus:not([readonly])~.form-control-focus:after, .form-group.form-md-line-input .form-control:focus:not([readonly])~label:after {
    visibility: hidden!important;
}

/* steps END */


/* multiple select dropdown / multiple select */

.select2-container--bootstrap .select2-selection {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #727272;
    border-radius: 0;
}

.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition-property: border-color, box-shadow;
    transition-duration: 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: initial, initial;
    border-color: #93a1bb;
}

.ms-container {
    width: 270px;
}


/* multiple select dropdown / multiple select END */


/* Other pages: About, Blog, Pricing, FAQ */

.pricing-content-2 {
    background-color: #fafafa;
}

.table.table-light>tbody>tr>td {
    color: #333;
}

.pricing-content-2 .pricing-table-container .price-column-container.featured-price {
    border-bottom-color: #3bd7b4;
}

.pricing-content-2 .pricing-table-container .price-column-container {
    padding: 30px 0px;
}

.pricing-content-2 .pricing-table-container .price-column-container.featured-price {
    padding: 60px 0px;
}

.about-text>h4 {
    background-color: #4B77BE;
}

.about-text>p {
    color: #333;
}

.card-icon i {
    border: 1px solid #ddd;
}


/* Other pages: About, Blog, Pricing, FAQ END */

/* Media queries */
@media screen and (max-width: 574px) {
   .page-footer .pull-right { float: left!important; }
}

/* Media queries END */
