<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3">
            <p class="footer-copyright">&copy; Copyright Nisos Technologies 2016</p>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-9">
            <ul class="nav navbar-nav pull-right">
                <li class="active in-block">
                    <a href="index.html"> About </a>
                </li>
                <!--<li class="in-block">
                    <a href="#"> Blog </a>
                </li>
                <li class="in-block">
                    <a href="faq.html"> FAQ </a>
                </li>-->
                <li class="in-block">
                    <a href="documentation.html"> Docs </a>
                </li>
                <!--<li class="in-block">
                    <a href="pricing.html"> Pricing </a>
                </li>-->
            </ul>
        </div>
    </div>
</div>