<div class="page-header-top">
    <div class="container">
        <div class="page-logo">
            <a href="dashboard.html">Geomarketer</a>
        </div>
        <!--<a href="javascript:;" class="menu-toggler"></a>-->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">

                <li class="dropdown dropdown-user dropdown-dark">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <span class="username">NisosTech <i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="profile.html">
                                <i class="icon-user"></i> My Profile </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-info"></i> Instructions
                            </a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a href="login.html">
                                <i class="icon-key"></i> Log Out </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
    <div class="container">
        <div class="page-head">
            <div class="page-title">
                <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <p><a href="dashboard.html">Home</a>
                            <i class="fa fa-circle"></i></p>
                    </li>
                    <li>
                        <p id="bread_crumb">
                            <a href="#"></a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var title = document.title;
    title = title.slice(14);
    document.getElementById("bread_crumb").innerHTML = title;
</script>
